<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button color="danger" routerLink="/home">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="danger" class="ion-text-center">
      Ação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar mode="ios" animated="true" placeholder="Buscar produto"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let produto of listaProdutos" lines="full">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://secure-static.vans.com.br/medias/sys_master/vans/vans/h1a/hf8/h00/h00/10222598946846/1002001070173U-01-BASEIMAGE-Hires.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{produto.nome}}</h2>
        <p>{{produto.descricao}}</p>
      </ion-label>
      <ion-badge color="dark">R$ {{produto.valor}}</ion-badge>
      <ion-button slot="end" expand="block">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>




  </ion-list>

</ion-content>