<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button color="danger" routerLink="/home">Voltar
      </ion-button>
    </ion-buttons>
    <ion-title color="danger" class="ion-text-center">
     Terror
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/carrinho" color="danger">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge color="danger">{{qtdeItensCarrinho}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar mode="ios" animated="true" placeholder="Buscar produto"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let produto of listaProdutos" lines="full">
      <ion-thumbnail slot="start">
        <img src="{{produto.foto}}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{produto.nome | uppercase}}</h2>
        <ion-badge color="danger">R$ {{produto.valor | number: '1.2-2'}}</ion-badge>
      </ion-label>

      <ion-button slot="end" expand="block" color="danger" (click)="addProdutoCarrinho(produto)">
        <ion-icon slot="icon-only" color="dark" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
